ion-content   {
    --background: #2e2e2e;
}

ion-list  {
    background: #2e2e2e;
    padding: 0px 2% ;
}

ion-item {
    border-radius: 5px;
    margin-bottom: 2%;
}

.item-total {
    margin-bottom: 2% ;
    border-radius: 0px;
}
