ion-content {
    --background: url(../../../assets/images/motif.png) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
    

    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
}

ion-toolbar {
    --background: transparent;
}

ion-chip {
    --background: #9dc912;
    --color: #fff;
}

.card {
    margin: 0 3%;
    .header {
        height: 200px; // 20vh;

        .avatar {
            width: 110px;
            height: 150px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 8px solid    #eeeeee;
                ;
                background-color: #fff;
                width: 110px;
                height: 110px;
            }
            ion-icon{
                display: block;
                position: absolute;
                margin-left: 150px;
                width: 30px; ;
                height: 30px;
                bottom: calc(-1*(80px + 4px)); // -42px;

            }
        }
    }
}

.card-body {
    background-color: #ffffffad;
    padding: 10px 30px;
    border-radius: 2%;

 //   height: calc(100vh - (200px + 56px));
    margin-top: 10px;
    overflow: hidden;

    .user-meta {
        padding-top: 10px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #fab324;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}