<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img style="width: 50%;" src="../../../assets/logo/logo2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only"  color="dark" slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='userState' fullscreen="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <lottie-animation-view
        [options]="interactiveAnimationOption">
      </lottie-animation-view>
    
  <div class="card">
    <div class="header">

      <div class="avatar">
        <img src="{{User.avatar_url}}" alt="">

      </div>

    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{User.username}} </h3>
        <h5 class="country">{{User.first_name}} {{User.last_name}}</h5>
        <h6 class="ranking">{{User.email}}
          <!-- 
            <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
              -->

        </h6>
      </div>
      <ion-card *ngIf="update_infosCard">
        <ion-card-content>
          <ion-card-title>Modifier mes informations</ion-card-title>
          <ion-button expand="full">modifier les informations générales</ion-button>
          <ion-button expand="full">modifier le mot de passe</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-button expand="block" fill="outline" color="dark" value="block" (click)="openCoupon()">mes coupons</ion-button>

      <ion-segment value="{{selectedsegment}}">
        <ion-segment-button (click)="displayHideFacturationCard()" value="facturation">
          <ion-label>Facturation</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="displayHideLivraisonCard()" value="livraison">
          <ion-label>Livraison</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="displayHidePointCard()" value="pointCard">
          <ion-label>Mes points</ion-label>
        </ion-segment-button>
      </ion-segment>
    
    </div>
    <div *ngIf="facturation" id="facturation-card" class="card-body">
    
        <ion-card-content>
          <ion-card-title>Informations de facturation</ion-card-title>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.last_name" placeholder="Votre nom">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Prenom</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.first_name"
              placeholder="Votre prenom"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adresse 1</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.address_1"
              placeholder="Votre adresse 1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adresse 2</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.address_2"
              placeholder="Votre adresse 2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ville</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.city" placeholder="Votre ville">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pays</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.country" placeholder="Votre pays">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Code postal</ion-label>
            <ion-input readonly="{{facturationinputs}}" [(ngModel)]="User.billing.postcode" placeholder="code postal">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input readonly="{{facturationinputs}}" placeholder="Votre adresse électronique"
              [(ngModel)]="User.billing.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Téléphone</ion-label>
            <ion-input readonly="{{facturationinputs}}" placeholder="Votre numéro de téléphone"
              [(ngModel)]="User.billing.phone"></ion-input>
          </ion-item>
          <ion-button expand="block" fill="outline" color="dark" value="block" (click)="FacturationAction()">
            {{facturationTextButton}}</ion-button>
        </ion-card-content>
     
      </div>
      <div *ngIf="livraison" id="facturation-card"  class="card-body">
    
        <ion-card-content>
          <ion-card-title>Informations de livraison</ion-card-title>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre nom" [(ngModel)]="User.shipping.last_name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Prenom</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre nom" [(ngModel)]="User.shipping.first_name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adresse 1</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre adresse 1"
              [(ngModel)]="User.shipping.address_1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Adresse 2</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre adresse 2"
              [(ngModel)]="User.shipping.address_2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ville</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre ville" [(ngModel)]="User.shipping.city">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pays</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="Votre pays" [(ngModel)]="User.shipping.country">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Code postal</ion-label>
            <ion-input readonly="{{livraisoninputs}}" placeholder="code postal" [(ngModel)]="User.shipping.postcode">
            </ion-input>
          </ion-item>

          <ion-button expand="block" fill="outline" color="dark" value="block" (click)="LivraisonAction()">
            {{livraisonTextButton}}</ion-button>
        </ion-card-content>
   
      </div>
  <!--  <div class="card"> -->
      <div *ngIf="cardPoint" class="card-body">

        <h3 class="fidelite-title">
          Points fidélité
        </h3>
        <ion-card-content>
          <p>Vous pouvez transformer vos points pour bénéficier des remises lors d'un achat. </p>
          <p>Pour consulter le programme de points cliquez sur <a
              href="https://laboratoiretresorsnaturels.tn/programme-de-fidelite/">en savoir plus </a></p>
          <h2>Vous avez <span class="colored-points">{{User?.pointsData?.value}} points</span></h2>
          <div>
            <h3>Transformez vos points</h3>
            <div>
              <form [formGroup]="form">

                <ion-item>
                  <ion-label position="floating">Points</ion-label>
                  <ion-input formControlName="points" max="{{User?.pointsData }}" placeholder="Nombre de points à transformer"></ion-input>
                </ion-item>
                <div class="validation-errors">

                  <div class="error-message" *ngIf="form.controls['points'].hasError('min')">
                    <span class="error ion-padding,small-font-size">
                      vous devez transformer 30 points au minimum
                    </span>
                  </div>

                </div>
              </form>

              <ion-item>
                <ion-col size="5">
                  <ion-label><span *ngIf="form.valid">{{form.value.points}}  TND</span></ion-label>
                </ion-col>
                <ion-col size="7">
                  <ion-button expand="block" fill="outline" [disabled]="!form.valid" (click)="CreateCoupon()"
                    color="dark" value="block">Transformer</ion-button>
                </ion-col>

              </ion-item>
            </div>
          </div>
        </ion-card-content>
      </div>

      <br />
      <br />
      <br />

   <!-- </div> -->
  </div>
</ion-content>



<ion-content *ngIf='!userState'>
  <div class="not-Connected-container">
    <p class="not-Connected-title"><strong>Vous devez vous connecter</strong> </p>
    <p class="not-Connected-subtitle">Vous devez disposer d'un compte pour pouvoir passer un commande ou ajouter au panier .</p>
    <ion-button  color="dark" fill="outline" expand="block" (click)="goToLogin()">Se connecter</ion-button>

  </div>

</ion-content>