<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="back"></ion-icon>
        Favorites
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"  >
    <div class="card">
      <div class="header">
        
        <div class="avatar">
          <img src="{{User?.avatar_url}}" alt="">
          <ion-icon slot="end" name="camera"></ion-icon>
        </div>
      
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{User?.username}} </h3>
          <h5 class="country">{{User?.first_name}} {{User?.last_name}}</h5>
          <h6 class="ranking">{{User?.email}}
            <!-- 
            <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
              -->

          </h6>
        </div>

        <ion-button (click)="displayHideFacturationCard()" expand="full" color="primary">Informations de facturation</ion-button>
        <ion-card *ngIf="facturation" id="facturation-card">
          <ion-card-content>
            <ion-card-title>Informations de facturation</ion-card-title>
            <ion-label>Nom</ion-label>
            <ion-input>{{User?.billing?.last_name}}</ion-input>
            <ion-label>Prenom</ion-label>
            <ion-input>{{User?.billing?.first_name}}</ion-input>
            <ion-button expand="full">Modifier</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-button expand="full" color="secondary">Informations de livraison</ion-button>
        <ion-button expand="full" color="secondary" >View profile at ATP</ion-button>
        <br/>
        <br/>
        <br/>

      </div>
    </div>
</ion-content>