
<ion-tabs>

  <ion-tab-bar class="add-shadow" slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Catégories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panier">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>



