
ion-tab-button , ion-tab-bar , ion-tabs{
	background: var(--tresorsBlack);
}

ion-icon {
	color: white;
}
ion-label {
	color: white;
}

.img-header {
	width: 28%;
	margin-left: 30%;
  }


  .tab-selected {
	
	ion-label {
	  color: var(--menuhous);
	}

	ion-icon {
		color: var(--menuhous);
	  }
  }