<ion-tabs>
  <ion-tab-bar slot="bottom">
  
    <ion-tab-button tab="categories">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Catégories</ion-label>
   <!--   <ion-badge>6</ion-badge>
  -->  
  </ion-tab-button>

    <ion-tab-button tab="all-products">
      <ion-icon name="map"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>