<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>
   
    
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='(userState && panier.length != 0  )' >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-list>
      <ion-item class="item-cart" *ngFor="let p of panier" class="ion-text-wrap">
        <ion-thumbnail slot="start">
          <img src="{{p?.thumbnail}}" />
        </ion-thumbnail>
        <ion-label>
          <p class="product-name">{{p?.product_name}}</p>
              <p [innerHTML]="p?.price_html"></p>
              <div class="cart-input-container">
                <ion-button (click)="decrementCartItem(p)" fill="clear" color="dark">
                  <ion-icon name="remove-circle-outline" ></ion-icon>
               </ion-button>
               <ion-button fill="clear" color="dark">
                {{ p?.quantity }}
                 </ion-button>
           <!--    <p class="cart_item-quantity">{{ p?.quantity }}</p>-->
               <ion-button (click)="incrementCartItem(p)" fill="clear" color="dark">
                <ion-icon name="add-circle-outline"></ion-icon>
             </ion-button>
              </div>
          
        </ion-label>

        <ion-button (click)="showAlertRemoveItem(p)" fill="clear" color="dark">
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
         
      </ion-item>

      <ion-item class="item-totale">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              Totale:
            </ion-col>
            <ion-col size="8" class="ion-text-end">
              {{totale | number : '1.3-3'}} TND
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-button class="button-save" expand="block" fill="outline" color="dark"  value="block" [disabled]=" !panierModifier" (click)="save()">
      Sauvgarder
    </ion-button>
    <ion-button class="button-save" expand="block" fill="outline" color="dark"  value="block"  [disabled]="panier.length == 0" (click)="checkout()">
      Commander
    </ion-button>


</ion-content>

<ion-content *ngIf='!userState'>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="not-Connected-container">
    <p class="not-Connected-title"><strong>Vous devez vous connecter</strong> </p>
    <p class="not-Connected-subtitle">Vous devez disposer d'un compte pour pouvoir passer une commande ou ajouter au panier .</p>
    <ion-button  color="dark" fill="outline" expand="block" (click)="goToLogin()">Se connecter</ion-button>

  </div>

</ion-content>

<ion-content  *ngIf='userState && panier.length == 0'>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="not-Connected-container">
    <p class="not-Connected-title"><strong>Votre panier est vide</strong> </p>
    <p class="not-Connected-subtitle">Vous devez ajouter un produit au panier</p>
    

  </div>

</ion-content>