<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <img class="img-header" src="../../../assets/logo/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content >

<div class="card-container" *ngFor="let product of panier " >
  <ion-card class="product-card" >
    <div class="product-image-container">
      <img src="{{product?.thumbnail}}" />
    </div>
    <ion-card-content>
      <div class="product-name">{{product?.product_name}}</div>
      <div class="product-price" [innerHTML]="product?.price_html"></div>
      <div class="product-price" >{{product?.quantity}}</div>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>