<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="category-container">
    <p>PAIEMENT ET LIVRAISON</p>
  </div>
  <div class="ion-padding">
    <div class="mkdf-grid-row ">
      <div class="mkdf-page-content-holder mkdf-grid-col-12">
        <h2>Modes de Paiement</h2>
        <ul>
          <li>Les frais d’expédition sont facturés une seule fois par commande, quel que soit son montant et le nombre
            d’articles commandés.</li>
        </ul>
        <ul>
          <li>Le paiement de votre commande s'effectue à la réception de votre colis.</li>
        </ul>
        <h2>Modes de livraison</h2>
        <ul>
          <li>Votre colis sera livré à votre demande jusqu’à chez vous, vous n’aurez qu’a confirmer le destinataire,
            votre
            adresse complète et votre code postal. Vous pouvez aussi vous faire livrer à l’adresse de votre travail.
          </li>
        </ul>
        <ul>
          <li>Les livraisons à domicile sont effectuées par un prestataire de services.</li>
        </ul>
        <ul>
          <li>Les frais d’expédition sont facturés une seule fois par commande, quel que soit son montant et le nombre
            d’articles commandés.</li>
        </ul>
        <ul>
          <li>Toute commande effectuée sur www.laboratoiretresorsnaturels.tn sera en règle générale livrée dans un delai
            maximun de quatre ( 4 ) jours ouvrables sur grand Tunis et sept ( 7 ) jours ouvrables sur le territoire
            Tunisien, à compter de la date de la commande.</li>
        </ul>
        <ul>
          <li>Il n’est actuellement pas possible de choisir une date pour la livraison de votre colis. Si vous êtes dans
            l’incapacité de réceptionner votre commande à temps (p. ex. en raison de vacances), veuillez contacter notre
            service clientèle le plus rapidement possible par email sur  <span style="color: darkgoldenrod;"> info@laboratoiretresorsnaturels.tn</span> ou par téléphone sur <span style="color: darkgoldenrod;">58 959 019</span> afin, de
            procéder
            soit à la modification de l’adresse de livraison ou à l’annulation de la commande. <strong>Veuillez noter
              toutefois que cela est uniquement possible tant que la commande n’a pas quitté notre entrepôt.</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>