.category-container {
   background-color: #fbf9f9;
   justify-content: center;
   height: 15%;
   display: flex;
   flex-direction: column;
   margin-bottom: 5%;
}

.category-container p {
   font-size: 6vw;
   width: 100%;
   text-align: center;
   color: #000;
   font-family: Lato,sans-serif;
}

.img-header {
   width: 28%;
   margin-left: 36%;
   position: inherit;
 }

 
h2 {
   font-family: Lato,sans-serif;
   font-size: 5vw;

   letter-spacing: .05em;
   text-transform: uppercase;
   color: #000;
}

div , p {
   font-family: Cormorant,serif;
   font-size: 4vw;
   font-weight: 500;
 
   color: #838383;
}

