.ion-col-right{
    text-align: right;

}
.ion-row-segment{
   padding-right: 40px;
   padding-left: 40px;
padding-bottom: 10px;
}

ion-icon{
    margin-right: 10px;
    color: rgb(223, 172, 7);
}

ion-label{
    color: rgb(7, 7, 7);
}