<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <img style="width: 50%;" src="../../../assets/logo/logo2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only"  color="dark"  slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="category-container">
    <p class="category-name">{{category}}</p>
  </div>


  <div class="card-flex-wrap">
    <div class="card-container" *ngFor="let product of products ">
      <ion-card class="product-card">
        <div *ngIf="product?.stock_status=='outofstock'"  class="container-out-of-stock">
         <p class="txt-out-of-stock">Rupture de stock</p>
        </div>
        <div *ngIf="product?.stock_status=='outofstock'"  (click)="goToDetail(product?.id)">
          <div class="product-image-container">
            <img src="{{product?.images[0]?.src}}" />
          </div>
          <div class="card-separator"></div>
          <ion-card-content >
            <div class="product-name">{{product?.name}}</div>
            <div class="product-category-container">
              <span
                class="product-category"
                *ngFor="let category of product?.categories"
              >
                {{category?.name?.replace(rep,'&')}},</span
              >
            </div>
            <div class="product-price" [innerHTML]="product?.price_html"></div>
          </ion-card-content>
  
          <ion-row  class="row-panier">
            <ion-col class="col-panier col-panier-txt" size="9">
            ACHETER
            </ion-col>
            <ion-col class="col-panier col-panier-color panier-icon" size="3">
              <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
            </ion-col>
          </ion-row>

        </div>
        <div *ngIf="product?.stock_status=='instock'" >
          <div class="product-image-container" (click)="goToDetail(product?.id)">
            <img src="{{product?.images[0]?.src}}" />
          </div>
          <div class="card-separator"></div>
          <ion-card-content (click)="goToDetail(product?.id)">
            <div class="product-name">{{product?.name}}</div>
            <div class="product-category-container">
              <span
                class="product-category"
                *ngFor="let category of product?.categories"
              >
                {{category?.name?.replace(rep,'&')}},</span
              >
            </div>
            <div class="product-price" [innerHTML]="product?.price_html"></div>
          </ion-card-content>
  
          <ion-row (click)="showPopover($event,product)" class="row-panier">
            <ion-col class="col-panier col-panier-txt" size="9">
            ACHETER
            </ion-col>
            <ion-col class="col-panier col-panier-color panier-icon" size="3">
              <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
            </ion-col>
          </ion-row>

        </div>
      
      </ion-card>
    </div>
  </div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingText="Charger plus produits...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>