<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <img class="img-header" src="../../../assets/logo/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="category-container">
    <p class="category-name">{{category}}</p>
  </div>

<div class="card-container" *ngFor="let product of products" >
  <ion-card class="product-card" >
    <ion-button class="icon-add-item" *ngIf="product?.type == 'simple'" (click)="showPopover($event,product)" fill="clear" color="dark">
      
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-button>
    <div class="product-image-container" (click)="goToDetail(product?.id)">
      <img src="{{product?.images[0]?.src}}" />
    </div>
    <ion-card-content (click)="goToDetail(product?.id)">
      <div class="product-name">{{product?.name}}</div>
      <div class="product-category-container">
        <span class="product-category" *ngFor="let category of product?.categories"> {{category?.name?.replace(rep,'&')}},</span>
      </div>
      <div class="product-price" [innerHTML]="product?.price_html"></div>
    </ion-card-content>
  </ion-card>
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingText="Charger plus produits...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>