<ion-header>
  <ion-toolbar>
    <img class="img-header" src="../../../assets/logo/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="category-container">
    <p class="category-name">{{category}}</p>
  </div>

<div class="card-container" *ngFor="let product of products" (click)="goToDetail(product?.id)">
  <ion-card class="product-card" >
    <div class="product-image-container">
      <img src="{{product?.images[0]?.src}}" />
    </div>
    <ion-card-content>
      <div class="product-name">{{product?.name}}</div>
      <div class="product-category-container">
        <span class="product-category" *ngFor="let category of product?.categories"> {{category?.name}},</span>
      </div>
      <div class="product-price" [innerHTML]="product?.price_html"></div>
    </ion-card-content>
  </ion-card>
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingText="Charger plus produits...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<br/>
<br/>
<br/>
<br/>
</ion-content>