<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <img style="width: 50%;" src="../../../assets/logo/logo2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only"  color="dark"  slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='userState'>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let order of orders" class="action-card">
   
    <ion-card-header>
     <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>Commande N° {{order.number}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">

      <ion-grid>
        
          <ion-row>
            <ion-col size="8">
              Total:
          </ion-col>
          <ion-col size="4">  {{order.total}} {{order.currency}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            Méthode de paiement:
        </ion-col>
        <ion-col size="4"> {{order.payment_method_title}} </ion-col>
      </ion-row>
       <ion-row>
            <ion-col size="8" >
            <ion-chip  outline color="{{status[order.status].color}}">
              <ion-label  color="{{status[order.status].color}}" >{{status[order.status].title}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col class="to-details-col" size="4">
           
            <a  class="to_details" (click)="toDetails(order.id)" >
              plus de details
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>



<ion-content *ngIf='!userState'>
  <div class="not-Connected-container">
    <p class="not-Connected-title"><strong>Vous devez vous connecter</strong> </p>
    <p class="not-Connected-subtitle">Vous devez disposer d'un compte pour pouvoir passer un commande ou ajouter au panier .</p>
    <ion-button  color="dark" fill="outline" expand="block" (click)="goToLogin()">Se connecter</ion-button>

  </div>

</ion-content>