.form-login {
    padding: 2% 3%;

    ion-button {
        margin: 5%;
    }
    ion-item {
        margin-bottom: 2%;
        margin-right: 6%;
    }
}

.btn-back-to-home {
    position: absolute;
    top: 2%;
    left: 3%;
    display: flex;
    justify-content: center;
    
}


.icon-btn-back-to-home {
    width: 40px;
    height: 40px;
    margin: auto;
}



.icon-input-margin {
    margin-top: 30px;
}



