
<ion-content>

  <div class="image-login">
    <img src="https://laboratoiretresorsnaturels.tn/static_pictures/login_picture.jpg" >
  </div>

 <form class="form-login" (ngSubmit)="login()" [formGroup]="credentiels">
  
  <ion-item>
    <ion-label position="floating" color="dark">Nom d'utilisateur</ion-label>
    <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating" color="dark">Mot de passe</ion-label>
    <ion-input [type]="passwordType" formControlName="password" clearOnEdit="false" class="form-controll" required></ion-input>
    <ion-icon slot="end" size="small" item-end [name]="passwordIcon" class="passwordIcon"
    (click)='hideShowPassword()'></ion-icon>
  </ion-item>
  
  <ion-button  type="submit" color="dark" fill="outline" expand="block" [disabled]="!credentiels.valid">Se connecter</ion-button>

  <ion-button   color="dark" fill="outline" expand="block" (click)="goToRegister()">Créer un compte</ion-button>
  
</form>
</ion-content>
