<ion-content scrollY={false} fullscreen={true}>


 
 
 
  <div class="container-logo-register">
    
      <img src="../../../assets/logo/logo2.png" />
   
  </div>

  <form (ngSubmit)="createuser()" [formGroup]="register1Form">
   
        <ion-list>
          <!--Input Firstname  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Prénom</ion-label>
            <ion-input type="text" formControlName="first_name" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.FirstName">
              <div class="error-message"
                *ngIf="register1Form.controls['first_name'].hasError(validation.type) && ((!register1Form.controls['first_name'].valid && register1Form.controls['first_name'].dirty) || (!register1Form.controls['first_name'].valid &&  register1Form.controls['first_name'].touched))">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>
              </div>
            </ng-container>
          </div>


          <!--Input lastname  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Nom</ion-label>
            <ion-input type="text" formControlName="last_name" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.LastName">
              <div class="error-message"
                *ngIf="register1Form.get('last_name').hasError(validation.type) && (register1Form.get('last_name').dirty || register1Form.get('last_name').touched)">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>
              </div>
            </ng-container>
          </div>

          <!--Input username  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Nom d'utilisateur</ion-label>
            <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="error-message"
                *ngIf="register1Form.get('username').hasError(validation.type) && (register1Form.get('username').dirty || register1Form.get('username').touched)">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>
              </div>
            </ng-container>
          </div>

          <!--Input Email  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input type="email" formControlName="email" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Email">
              <div class="error-message"
                *ngIf="register1Form.get('email').hasError(validation.type) && (register1Form.get('email').dirty || register1Form.get('email').touched)">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>

              </div>
            </ng-container>
          </div>

          <!--Input Password  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Mot de passe</ion-label>
            <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" class="form-controll"
              required></ion-input>
            <ion-icon slot="end" size="small" item-end [name]="passwordIcon" class="passwordIcon icon-input-margin"
              (click)='hideShowPassword()'></ion-icon>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Password">
              <div class="error-message"
                *ngIf="register1Form.get('password').hasError(validation.type) && (register1Form.get('password').dirty || register1Form.get('password').touched)">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>
              </div>
            </ng-container>
          </div>

          <!--Input confirmPassword  and validation -->
          <ion-item>
            <ion-label position="floating" color="dark">Confirmer le mot de passe</ion-label>
            <ion-input formControlName="confirmPassword" [type]="passwordConfirmType" clearOnEdit="false"
              class="form-controll" required></ion-input>
            <ion-icon  slot="end" size="small" item-end [name]="passwordConfirmIcon" class="passwordIcon icon-input-margin"
              (click)='hideShowConfirmPassword()'></ion-icon>
          </ion-item>


          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirmPassword">
              <div class="error-message"
                *ngIf="register1Form.get('confirmPassword').hasError(validation.type) && (register1Form.get('confirmPassword').dirty || register1Form.get('confirmPassword').touched)">
                <span class="error ion-padding">
                  {{ validation.message }}
                </span>
              </div>

            </ng-container>
            <div class="error-message"
              *ngIf="register1Form.hasError('mismatchedPasswords') && (register1Form.get('confirmPassword').dirty || register1Form.get('confirmPassword').touched)">
              <span class="error ion-padding">
                Le mots de passe ne correspondent pas
              </span>
            </div>
          </div>

          <ion-row class="row-register-btn">
            <ion-col>
              <ion-button type="submit" color="dark" fill="outline" [disabled]="!register1Form.valid" expand="block">
               Créer un compte
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="row-register-btn">
            <ion-col>
              <ion-button color="dark" fill="outline" (click)="goTologin()" expand="block">
               Annuler
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      
  </form>


</ion-content>