.invalid {
    border: 1px solid #ea6153;
 }
 
 .error {
    color: red;
 }

 ion-item {
     margin-right: 2%;
 }

 form {
    width: 100%;
 }

ion-card-content {
    
    padding: 0px !important;
}

ion-card-header {
    font-size: 5vw;
    font-weight: 700;
}