.invalid {
    border: 1px solid #ea6153;
 }
 
 .error {
    color: red;
 }

 ion-item {
     margin: 4% 5%;
 }

 form {
     width: 90%;
   //  margin-top: 35%;
 }
/*
 ion-card-content {
    height: 60%;
    max-height: 60%;
}

*/
ion-content {
    --height: auto;
    --max-height: 75%;
    --min-height: 50%;
}