<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content  class="card-background-page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div  *ngFor="let cat of categorys" >

  <ion-card class="product-card" (click)="goToProductByCategory(cat.id)"  [ngClass]="{active: isCategoryShown(cat.name)}" *ngIf="cat.children?.length ==0" >
    <ion-button class="icon-add-item category-button-text"  fill="clear" color="dark">
      {{cat.name.replace(rep,'&')}}
    </ion-button>
    
      <ion-img src="{{cat?.image?.src}}"></ion-img>
    
</ion-card>

<ion-card class="product-card" (click)="showCategory(cat.name)" [ngClass]="{active: isCategoryShown(cat.name)}" *ngIf="cat.children?.length >0">
  <ion-button class="icon-add-item category-button-text"  fill="clear" color="dark">
    {{cat.name.replace(rep,'&')}}
  </ion-button>
  
    <ion-img src="{{cat?.image?.src}}"></ion-img>
    <ion-card-content *ngIf="isCategoryShown(cat.name)">
     
        <ion-item class="item-accordion" *ngFor="let subCat of cat.children"
          (click)="goToProductByCategory(subCat.id)">
          <ion-label>  {{subCat.name.replace(rep,'&')}} </ion-label>
      
        </ion-item>
  
    </ion-card-content>
  
</ion-card>

</div>

</ion-content>