
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item {
   padding: 0px;
}

.item-stable {
  font-family: 'Lato,sans-serif';
}

.img-header {
  width: 28%;
  margin-left: 30%;
}