
p {
  position: absolute;
 
  font-family: Lato, sans-serif;
  font-size: 5vw;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  height: 23vw;
  padding: 8vw 3vw;
  width: 100%;
  text-align: end;
  }

/*
ion-card {
  margin: 2%;
}

ion-card-content {
padding: 0px 10px;
}
*/


