
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item {
   padding: 0px;
}

.item-stable {
  font-family: 'Lato,sans-serif';
}

.img-header {
  width: 28%;
  margin-left: 30%;
}



.icon-add-item{
  position:absolute;
  top: 30px ;
  right:0;
  }

  
.product-card {
  margin: 2%;
}


.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    right: 0;
    font-size: 2.0em;
    
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

ion-card-content {
  padding: 0px 10px;
}

}