
.img-header {
   width: 28%;
   margin-left: 36%;
   position: inherit;
 }
.product-card {
   display: table-cell;
}


.product-image-container {
   width : 100%;
   display : flex ;
   justify-content : center;
}

.product-image-container img {
   width: 100% !important;
height: auto !important;
}


.product-top-container {
   width: 100%;
   display: flex;
   flex-direction: row;
}
.product-info-container {
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.product-name {
   font-family: Lato-Regular;
   font-size: 5vw;
 //  height: 41px !important;
 //  text-align: center;
}

.product-category-container {
   display: flex;
   justify-content: start;
}

.product-category {
   color: rgb(167, 167, 167);
   font-family: Cormorant-SemiBoldItalic;
   font-size: 4vw;
}

.text-size {
   font-size: 4vw;
}

.container-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}



.product-price {
   font-family: 'Cormorant-Bold';
   font-size: 6vw;
   text-decoration: initial;
   font-weight: inherit;
  
  
 }
 
 .container-price-nopromo{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   
 }
 
 .container-price-promo {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   
 }
 .product-price2 {
   font-family: 'Cormorant-Medium';
     font-size: 5vw;
     text-decoration: initial;
     font-weight: inherit;
   
     color: #c9c6c6;
  
 }
 
 .product-price-promo {
   font-family: 'Cormorant-Bold';
   font-size: 6vw;
   text-decoration: initial;
   font-weight: inherit;
  
 }
 
 
 
 .container-txt-promo{
   position: absolute;
   display: block;
   text-align: end;
   width: 100%;
   height: 100%;
 }
 
 .txt-promo {
   background: #feeae7;
     position: absolute;
     height: 10vw;
     margin: 0%;
     font-family: 'Cormorant-SemiBoldItalic';
     padding: 2vw;
     right: 0;
     top: 4%;
     font-size: 5vw;
 }
 

.product-short_description {
   font-size: 4vw;

}

.product-description {
   font-size: 4vw;

}

//-------------------------------------


.ios component-segment ion-header ion-segment {
   position: absolute;
 
   top: 50%;
   left: 50%;
 
   transform: translateX(-50%) translateY(-50%);
 }
 
 component-segment ion-content ion-segment {
   margin: 10px auto;
 }

 
.cart_item-quantity {
   font-family: Cormorant-SemiBoldItalic;
    font-size: 2vw;
 }

 
.button-save {
   margin: 2%;
   
}

.button-add-panier {
   margin: 2%;
  // --border-radius: 20px;
}

   

.slide-product {
   width: 50%;
 }
 
 .slide-product-card {
   width: 100%;
   margin: 0%;

   ion-card-content {
      padding: 2px 5px 5px;
  }
 }
 
 
 
 .slide-product-container {
   width: 190px;
   height: 250px;
   border: 2px solid #f8f8f8;
 }
 
 .slide-product-image-container {
   width : 100%;
   display : flex ;
   justify-content : center;
 }
 
 .slide-product-image-container img {
   width: 100% !important;
height: auto !important;
 }
 
 .slide-product-name {
   font-family: 'Cormorant-SemiBoldItalic';
   font-size: 4vw;
   font-weight: bolder;
   color: #262626;
   height: 13vw !important;
   text-align: center;
 }
 
 .slide-product-category-container {
   display: flex;
   justify-content: center;
   height: 7vw;
 }
 
 .slide-product-category {
   color: rgb(167, 167, 167);
   font-family: Cormorant-SemiBoldItalic;
   font-size: 3vw;
 }
 
 .slide-product-price {
   font-family: Cormorant-Medium;
   font-size: 3.5vw;
  
   text-decoration: initial;
   font-weight: 600;
   text-align: center;
   height: 11vw;
 }



//slides
.slides .slide .slide-img{
   width: 100% !important;
   height: auto !important;
 }
 
 .slide-col {
   padding: 0%;
   width: 100%;
 
 }

 .cart-input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 
   //bar ajout panier
.row-panier {
   background: black;
   padding: 0%;
}

.col-panier {
  
  
    text-align: center;
    font-size: 3vw;
}

.col-panier-txt {
   padding: 4vw;
   color : var(--menuhous);
   
}

.panier-icon {
   padding: 3vw 0vw;
}

.col-panier-color {
   background: #afaeae;
}
  

.card-separator {
   border-bottom: 1px solid #e2dfdf;
   margin: 0% 6%;
}


.container-out-of-stock{
   background: #eceaeac7;
   position: absolute;
   display: block;
   text-align: center;
   width: 100%;
   height: 100%;
}

.txt-out-of-stock {
   background: #feeae7;
   position: absolute;
   height: 10vw;
   width: 100%;
   margin: 0%;
   padding: 3vw;
   right: 0;
   top: 30%;
}


.container-out-of-stock-detail{
   background: #eceaeac7;
   position: absolute;
   display: block;
   text-align: center;
   width : 100%;
   display : flex ;
   justify-content : center;
}

.container-out-of-stock-detail img {
   width: 100% !important;
height: auto !important;
   visibility: hidden;
}


.txt-out-of-stock-detail {
   background: #feeae7;
   position: absolute;
   height: 10vw;
   width: 100%;
   margin: 0%;
   padding: 3vw;
   right: 0;
   top: 40%;
}

.container-txt-promo-detail{
   position: absolute;
   display: block;
   text-align: end;
   width: 100%;
  
   display : flex ;
   justify-content : center;
 }

 .container-txt-promo-detail img {
   width: 100% !important;
height: auto !important;
   visibility: hidden;
}
 
 .txt-promo-detail {
   background: #feeae7;
   position: absolute;
   height: 13vw;
   margin: 0%;
   font-family: "Cormorant-SemiBoldItalic";
   padding: 3vw;
   right: 0;
   top: 4%;
   font-size: 7vw;
 }
 

.txt-font-size {
   font-size: 3vw;
 }

 ion-segment{
   ion-segment-button{
       --color-checked: #fab324;
       font-size: 3vw;
   }
    }