<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="bottom-navigation"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datashow">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="product-card">

    <div *ngIf="product?.stock_status=='outofstock'" class="container-out-of-stock-detail">
      <p class="txt-out-of-stock-detail">Rupture de stock</p>
      <img  src="{{product?.images[0]?.src}}" />
    </div>
    
    <div class="container-txt-promo-detail" *ngIf="product?.promotion == 'promo'">
      <p class="txt-promo-detail">Promo</p>
      <img src="{{product?.images[0]?.src}}" />
    </div>

    <div class="product-image-container">
      <img src="{{product?.images[0]?.src}}" />
    </div>




    <ion-card-content>

      <ion-card-header class="product-info-container">

        <div class="product-name"><strong>{{product?.name}}</strong></div>

        
        <div class="container-price-nopromo" *ngIf="product?.promotion == 'nopromo'">
          <div class="product-price" [innerHTML]="product?.price_html"></div>
        </div>
       

        <div class="container-price-promo" *ngIf="product?.promotion == 'promo'">
          <div class="product-price2" [innerHTML]="product?.price_html"></div>
          <div class="product-price-promo" [innerHTML]="product?.price_html_promo"></div>
        </div>

        <br />
        <label class="text-size"><strong>Catégories</strong> : </label>

        <div class="product-category-container">
          <span class="product-category" *ngFor="let category of product?.categories">
            {{category?.name?.replace(rep,'&')}},</span>
        </div>

      </ion-card-header>
      <div *ngIf="product?.stock_status=='instock'">
        
        <ion-item *ngIf="product?.type == 'variable'">
          <ion-label position="stacked">
            {{product?.attributes[0]?.name}}
          </ion-label>
          <ion-select placeholder="choisir une option" [(ngModel)]="variationId">
            <ion-select-option class="txt-font-size" *ngFor="let valop of variations" value="{{valop.id}}">{{valop.option}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="item-cart" *ngIf="product?.type == 'variable'">


          <div class="cart-input-container">

            <ion-button (click)="removeItem()" fill="clear" color="dark" [disabled]="itemQty<2">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>

            <ion-button fill="clear" color="dark">
              {{itemQty}}
            </ion-button>

            <ion-button (click)="addItem()" fill="clear" color="dark">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="addToCartWithVariation(variationId)" [disabled]="variationId == 0" fill="outline"
              color="dark">
              ACHETER
            </ion-button>


          </div>

        </ion-item>

        <ion-item class="item-cart" *ngIf="product?.type == 'simple'">

          <div class="cart-input-container">

            <ion-button (click)="removeItem()" fill="clear" color="dark" [disabled]="itemQty<2">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>

            <ion-button fill="clear" color="dark">
              {{itemQty}}
            </ion-button>

            <ion-button (click)="addItem()" fill="clear" color="dark">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="addToCart()" fill="outline" color="dark">
              ACHETER
            </ion-button>


          </div>

        </ion-item>
      </div>

      <ion-segment [(ngModel)]="segmentValue">
        <ion-segment-button value="description" *ngIf="product?.description != ''">
          <ion-label>Description</ion-label>
        </ion-segment-button>
        <ion-segment-button value="information" *ngIf="product?.short_description != '' || product?.attributes != '' ">
          <ion-label>Informations</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="segmentValue == 'information'">


        <ul class="product-short_description">
          <strong>Contenance</strong>
          <li class="product-short_description" [innerHTML]="product?.short_description"></li>
          <li class="product-short_description" *ngFor="let att of product?.attributes[0]?.options" [innerHTML]="att">
          </li>
        </ul>
      </div>

      <div *ngIf="segmentValue == 'description'" class="product-description" [innerHTML]="product?.description"></div>
    </ion-card-content>
  </ion-card>
  

</ion-content>