<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only" color="dark" class="icon-header"  slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="category-container">
    <p>ENGAGEMENTS</p>
  </div>

  <div class="ion-padding">
    <div class="title">PLUS QU’UNE SIMPLE MARQUE : UNE HISTOIRE D’ENGAGEMENTS</div>

    <div class="main-container">



      <h2>RÉSERVE DE PROPRIÉTÉ</h2>
      <p>Trésors Naturels se réserve la propriété des Produits et Cartes Cadeaux livrés jusqu’au paiement
        complet du prix.</p>
      <h2>RESPONSABILITÉ</h2>
      <div>Trésors Naturels s’engage à la bonne exécution des obligations résultant du contrat. Toutefois,
        Trésors Naturels peut s’exonérer de tout ou partie de sa responsabilité en apportant la preuve que
        l’inexécution ou la mauvaise exécution du contrat est imputable soit au Client, soit au fait,
        imprévisible et insurmontable, d’un tiers au contrat, soit à un cas de force majeure (ex : grèves,
        accidents, émeute, incendie, etc. constituant des événements imprévisibles et irrésistibles).<br>
        La responsabilité de Trésors Naturels ne saurait non plus être engagée en cas d’inconvénients ou
        dommages résultant de l’utilisation du réseau Internet.</div>
      <div>
        <h2>TRANSFERT DES RISQUES</h2>
        <div>C’est au moment où le Client ou un tiers désigné par lui, et autre que le transporteur proposé
          par
          le professionnel, prend physiquement possession de ces biens que tout risque de perte ou
          d’endommagement des biens est transféré.</div>
        <div>
          <h2>Service Clients et traitement des réclamations</h2>
          <p>Pour toute question ou réclamation relative à l’exécution du contrat, le Client peut contacter le
            Service Clients selon les modalités suivantes :<br>
            • Par e-mail : info@laboratoiretrsorsnaturels.tn<br>
            • Par téléphone : (+216) 58 959 019</p>
          <h2><b>DISPONIBILITÉ</b><strong>&nbsp;DES PRODUITS</strong></h2>
          <p>Nous faisons notre possible pour assurer la disponibilité des Produits. Les offres de
            Produits&nbsp; sont valables tant qu’elles sont annoncées sur le site et dans la limite des stocks
            disponibles.<br>
            Des indications sur la disponibilité des Produits sont fournies au Client au moment de la
            commande.
            Si un Produit de la commande n’est pas disponible au moment de la préparation, Trésors Naturels
            enverra automatiquement un email au Client. Le Client pourra alors :</p>
          <p>– Remplacer le Produit en rupture par un Produit du même montant (sauf en cas de Produit offert)
            ;<br>
            – Recevoir le reste de votre commande sans le Produit ou la Carte Cadeau en rupture, le montant
            sera
            alors déduit du total de la commande et ne sera pas facturé au Client&nbsp; (sauf en cas de
            Produit
            ou Carte cadeau offert)<br>
            – Annuler la totalité de la commande.</p>
          <h2><b>GARANTIES LÉGALES DES PRODUITS</b></h2>
          <p>Trésors Naturels respecte l’ensemble de ses obligations légales de garanties.<br>
            En cas de défaut de conformité (bien impropre à l’usage habituellement attendu d’un bien
            semblable,
            qui ne correspond pas à la description donnée par le vendeur ou qui ne possède pas les qualités
            annoncées par le vendeur ou convenues avec vous) ou vices cachés (défauts cachés de la chose
            vendue
            qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que
            l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait
            connus)
            du produit et dans le respect des conditions fixées par la loi, vous devez adresser votre
            réclamation au préalable à Trésors Naturels par e-mail : info@laboratoiretresorsnaturels.tn<br>
            En cas de défaut de conformité, Trésors Naturels remplace le Produit par le même produit ou un
            produit équivalent. Le remplacement sera effectué dans un délai d’ 1 mois maximum à compter de la
            réception du Produit.</p>
          <p>Trésors Naturels rappelle à ses Clients que les Produits Cosmétiques Trésors Naturels doivent
            être
            conservés à l’abri de l’humidité, d’une température trop élevée ou d’une luminosité trop intense
            et
            peuvent être soumis à une date de péremption. Seront donc exclus de la garantie les Produits
            Cosmétiques qui n’auraient pas été stockés dans les conditions précitées.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>