.img-header {
  width: 28%;
  margin-left: 36%;
  position: inherit;
}

ion-select {
  font-size: 4vw;
  width: 100%;
}

.label-size {
  font-size: 4vw;
}

component-item-group ion-list {
  margin-bottom: var(--ion-margin, 20px);
}

.ios component-item-group ion-item:last-of-type {
  --inner-border-width: 0;
}

.md component-item-group ion-item:last-of-type {
  --inner-border-width: 0;
  --border-width: 0 0 1px 0;
}

.txt-font-size {
  font-size: 4vw;
}

.txt-title-font-size {
  font-size: 4vw;
  font-weight: 600;
}

ion-textarea,
ion-input {
  font-size: 4vw;
}

.btn-commande-margin {
  margin: 5%;
}
.error {
  color: red;
}

ion-segment {
  ion-segment-button {
    --color-checked: #fab324;
    font-size: 3vw;
  }
}
