/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-title-header-center {
  text-align: center !important;
    position: fixed;
    /* display: contents; */
    top: 9%;
    left: 0;
    width: 100%;
}

.icon-header {
  margin: 0px !important;
  font-size: 8vw !important;
  color: black;
}

.ion-title-header-center img{
  width: 28%;
}
 
.cart-modal {
  --height: auto;
  --max-height: 75%;
  --min-height: 60%;
  --border-radius: 10px;
  padding: 25px;
  background: #000000ad !important;
}

.no-connection-modal {
  --height: 100%;
  --width: 100%;
 
}


 
.add-coupon-modal {
  --height: 30%;
//  --max-height: 75%;
//  --min-height: 50%;
  --border-radius: 10px;
  padding: 25px;
}
.btn-alert-ignorer {
  color :#979797 !important;
}

.btn-alert-connexion {
  color :#4475cc !important;
}

@font-face {
    font-family: 'Cormorant-Regular';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
  };
  @font-face {
    font-family: 'Cormorant-Italic';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf');
  };

  @font-face {
    font-family: 'Cormorant-Bold';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
  };
  @font-face {
    font-family: 'Cormorant-BoldItalic';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf');
  };
  @font-face {
    font-family: 'Cormorant-Light';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf');
  };
  @font-face {
    font-family: 'Cormorant-LightItalic';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf');
  }
  @font-face {
    font-family: 'Cormorant-Medium';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf');
  }
  @font-face {
    font-family: 'Cormorant-MediumItalic';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf');
  }
  @font-face {
    font-family: 'Cormorant-SemiBold';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Cormorant-SemiBoldItalic';
    
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf');
  }

  @font-face {
    font-family: 'Lato-Regular';
    
    src: url('./assets/fonts/lato/Lato-Regular.ttf');
  }

  @font-face {
    font-family: 'TuesdayNight-Regular';
    
    src: url('./assets/fonts/TuesdayNight-Regular/TuesdayNight-Regular.otf');
  }
