<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <img style="width: 50%;" src="../../../assets/logo/logo2.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only"  color="dark"  slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >

  <div class="category-container">
    <p >QUI SOMMES NOUS</p>
  </div>
<div class="ion-padding">
  <div class="naturelle-txt" >Tresors Naturels</div>
  <div class="title" >La beauté moderne est une beauté naturelle</div>
  <p class="subtitle" >L'attitude de la marque 100% Tunisienne Trésors Naturels est de révéler et valoriser toutes les beautés individuelles avec des produits de soins simples qui sont créés selon les normes internationales de bonnes pratiques de fabrication, conçus pour une peau radieuse et des cheveux en pleine forme!</p>
  <br/>
  <br/>
  <br/>
  <div class="naturelle-txt" >Tresors Naturels</div>
  <div class="title" >Des produits élaborés avec soin et expertise</div>
  <p class="subtitle" >Trésors Naturels met à profit leurs savoir-faire à chaque étape de l'élaboration de leurs produits afin de garantir efficacité et confort sans négliger le plaisir ..</p>
</div>

</ion-content>
