<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!searchShow" (click)="showSearch()">
        <ion-icon slot="icon-only" class="icon-header" color="dark" slot="end" name="search-outline"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchShow">
    <ion-searchbar [(ngModel)]="searchText" placeholder="Recherche"></ion-searchbar>

    <ion-icon (click)="showSearch()" slot="icon-only" color="dark" slot="end" name="close-outline"
      class="icon-close-search"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="searchText == ''">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides class="slides" [options]="slideOptions" pager="true" #slider
    (ionSlidesDidLoad)="ionSlidesDidLoad(slider)">
    <!--  [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" -->
    <ion-slide class="slide" *ngFor="let sldP of slidesPictures ">
      <ion-col class="slide-col" (click)="goToPub(sldP?.type, sldP?.id, sldP?.name)">
        <img class="slide-img" src="{{sldP?.src}}" />
      </ion-col>
    </ion-slide>
  </ion-slides>

  <div class="naturelle-txt">naturelle</div>
  <div class="category">UNE MARQUE UNE HISTOIRE</div>
  <div class="subcategory">Cosmétiques sains & naturels</div>
  <br />

  <div *ngFor="let homeItem1 of homePageJson">

    <!-- show category with product-->
    <div *ngIf="homeItem1.type === 'category' ">
      <ion-card class="category-card">
        <ion-button *ngIf="homeItem1.category.name !== 'nouveauté'" class="icon-add-item category-slides-btn"
          fill="clear" color="dark">
          {{homeItem1.category.name}}
        </ion-button>
        <ion-img class="category-slides-img" src="{{homeItem1.category_object?.image?.src}}"> </ion-img>
        <div class="category-container-slides">
          <div class="category-slides-title"> {{homeItem1.sub_category.name}}</div>
          <div class="category-slides-viewAll"
            (click)="goToProductByCategory(homeItem1.category.name, homeItem1.category.id)">VOIR
            PLUS</div>
        </div>
      </ion-card>

      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let product of homeItem1.product_array" class="slide-product">
          <ion-card class="product-card">

            <div *ngIf="product?.stock_status=='outofstock'" class="container-out-of-stock">
              <p class="txt-out-of-stock">Rupture de stock</p>
            </div>

            <div class="container-txt-promo" *ngIf="product?.promotion == 'promo'">
              <p class="txt-promo">Promo</p>
            </div>
            <div *ngIf="product?.stock_status=='outofstock'" (click)="goToDetail(product?.id)">
              <div class="product-image-container">
                <img src="{{product?.images[0]?.src}}" />
              </div>
              <div class="card-separator"></div>
              <ion-card-content>
                <div class="product-name">{{product?.name}}</div>

                <div class="container-price-nopromo" *ngIf="product?.promotion == 'nopromo'">
                  <div class="product-price" [innerHTML]="product?.price_html"></div>
                </div>


                <div class="container-price-promo" *ngIf="product?.promotion == 'promo'">
                  <div class="product-price2" [innerHTML]="product?.price_html"></div>
                  <div class="product-price-promo" [innerHTML]="product?.price_html_promo"></div>
                </div>

              </ion-card-content>

              <ion-row class="row-panier">
                <ion-col class="col-panier col-panier-txt" size="9">
                  ACHETER
                </ion-col>
                <ion-col class="col-panier col-panier-color panier-icon" size="3">
                  <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="product?.stock_status=='instock'">
              <div class="product-image-container" (click)="goToDetail(product?.id)">
                <img src="{{product?.images[0]?.src}}" />
              </div>
              <div class="card-separator"></div>
              <ion-card-content (click)="goToDetail(product?.id)">
                <div class="product-name">{{product?.name}}</div>

                <div class="container-price-nopromo" *ngIf="product?.promotion == 'nopromo'">
                  <div class="product-price" [innerHTML]="product?.price_html"></div>
                </div>


                <div class="container-price-promo" *ngIf="product?.promotion == 'promo'">
                  <div class="product-price2" [innerHTML]="product?.price_html"></div>
                  <div class="product-price-promo" [innerHTML]="product?.price_html_promo"></div>
                </div>
              </ion-card-content>

              <ion-row (click)="showPopover($event,product)" class="row-panier">
                <ion-col class="col-panier col-panier-txt" size="9">
                  ACHETER
                </ion-col>
                <ion-col class="col-panier col-panier-color panier-icon" size="3">
                  <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </div>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- show pub single -->
    <div class="pub_single_container" *ngIf="homeItem1.type === 'pub_single' ">
      <ion-img src="{{homeItem1.images[0]?.src}}"
        (click)=" goToPub(homeItem1.images[0]?.type, homeItem1.images[0]?.id,homeItem1.images[0]?.name)"></ion-img>
    </div>

    <!-- show pub double -->
    <div class="pub_double_container" *ngIf="homeItem1.type === 'pub_double' ">
      <ion-img *ngFor="let imgPub of homeItem1.images" src="{{imgPub?.src}}"
        (click)=" goToPub(imgPub?.type, imgPub?.id,imgPub?.name)"></ion-img>
    </div>

    <br />

  </div>
</ion-content>



<ion-content class="content-all-product" *ngIf="searchText != ''">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="card-flex-wrap">
    <div class="card-container" *ngFor="let product of allProducts |filter:searchText">
      <ion-card class="product-card">

        <div *ngIf="product?.stock_status=='outofstock'" class="container-out-of-stock">
          <p class="txt-out-of-stock">Rupture de stock</p>
        </div>

        <div *ngIf="product?.stock_status=='outofstock'" (click)="goToDetail(product?.id)">
          <div class="product-image-container">
            <img src="{{product?.images[0]?.src}}" />
          </div>
          <div class="card-separator"></div>
          <ion-card-content>
            <div class="product-name">{{product?.name}}</div>

            <div class="product-price" [innerHTML]="product?.price_html"></div>
          </ion-card-content>

          <ion-row class="row-panier">
            <ion-col class="col-panier col-panier-txt" size="9">
              ACHETER
            </ion-col>
            <ion-col class="col-panier col-panier-color panier-icon" size="3">
              <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="product?.stock_status=='instock'">
          <div class="product-image-container" (click)="goToDetail(product?.id)">
            <img src="{{product?.images[0]?.src}}" />
          </div>
          <div class="card-separator"></div>
          <ion-card-content (click)="goToDetail(product?.id)">
            <div class="product-name">{{product?.name}}</div>

            <div class="product-price" [innerHTML]="product?.price_html"></div>
          </ion-card-content>

          <ion-row (click)="showPopover($event,product)" class="row-panier">
            <ion-col class="col-panier col-panier-txt" size="9">
              ACHETER
            </ion-col>
            <ion-col class="col-panier col-panier-color panier-icon" size="3">
              <ion-icon size="small" color="light" name="cart-outline"></ion-icon>
            </ion-col>
          </ion-row>

        </div>



      </ion-card>
    </div>
  </div>
  <br />
</ion-content>