.img-header {
  width: 28%;
  margin-left: 36%;
  position: inherit;
}
.img-header2 {
  width: 35%;
  margin-left: 44%;
  position: inherit;
}

ion-content {
  --padding-bottom: 3%;
}

.icon-close-search {
  margin-right: 1%;
  margin-top: 2%;
}
//slides
.slides .slide .slide-img {
  width: 100%;
}

.slide-col {
  padding: 0%;
  width: 100%;
}

//category

.naturelle-txt {
  font-family: TuesdayNight-Regular;
  color: #d1d1d1;
  text-align: center;
  width: 100%;
  font-size: 8vw;
}

.category {
  font-family: Lato, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 8vw;
  letter-spacing: 0.05em;
}
.subcategory {
  font-family: cursive;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  color: #5a5a5a;
}
//slide ctegory product

.category-container {
  background-image: url("./../../assets/images/fond.jpg");
  justify-content: center;
  height: 20%;
  display: flex;
  margin-bottom: 5%;
}

.category-container p {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  font-family: Lato, sans-serif;
}

.slide-product {
  width: 50%;
}
/*
.product-card {
  width: 95%;
  margin: 0%;
}
*/
.product-container {
  width: 190px;
  height: 250px;
  border: 2px solid #f8f8f8;
}

.product-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image-container img {
  width: 100%;
  height: 51.5vw;
}


.product-category-container {
  display: flex;
  justify-content: center;
  height: 9vw;
}

.product-category {
  color: rgb(167, 167, 167);
  font-family: Cormorant-SemiBoldItalic;
  font-size: 3vw;
}

.product-price {
  font-family: 'Cormorant-Bold';
  font-size: 5vw;
  text-decoration: initial;
  font-weight: inherit;
  text-align: center;
 
}

.container-price-nopromo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 7vw;
}

.container-price-promo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 11vw;
}
.product-price2 {
  font-family: 'Cormorant-Medium';
    font-size: 4vw;
    text-decoration: initial;
    font-weight: inherit;
    text-align: center;
    color: #c9c6c6;
 
}

.product-price-promo {
  font-family: 'Cormorant-Bold';
  font-size: 5vw;
  text-decoration: initial;
  font-weight: inherit;
  text-align: center;
 
}

//bar ajout panier
.row-panier {
  background: black;
    padding: 0%;
    width: 100%;
}

.col-panier {
  text-align: center;
  font-size: 4vw;
}

.col-panier-txt {
  padding: 3.5vw;
  color: var(--menuhous);
  font-size: 4;
}



.col-panier-color {
  background: #afaeae;
}

.button-panier {
  margin: 0%;
}

.card-separator {
  border-bottom: 1px solid #e2dfdf;
  margin: 0% 6%;
}

//*********************************************************************************************************
//--------------------All Produits---------------------------------------------------------

.content-all-product 
  .card-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  ion-card-content {
    padding: 2px 2px 5px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    width: 48%;
    margin: 1%;
  }

  .product-card {
    width: 95%;
    margin: 0%;
    border: 1px solid #dad6d6;
    box-shadow: 0 0 black;
  }

  .category-name {
    font-size: xx-large;
    width: 100%;
    text-align: center;
  }

  .product-container {
    width: 190px;
    height: 250px;
    border: 2px solid #f8f8f8;
  }

  .product-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-image-container img {
    width: 100%;
    height: 51.5vw;
  }

  .product-name {
    font-family: 'Cormorant-SemiBoldItalic';
    font-size: 4vw;
    font-weight: bolder;
    color: #262626;
    height: 13vw !important;
    text-align: center;
  }

  .product-category-container {
    display: flex;
    justify-content: center;
    height: 9vw;
  }

  .product-category {
    color: rgb(167, 167, 167);
    font-family: Cormorant-SemiBoldItalic;
    font-size: 3vw;
  }

  

  .icon-add-item {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }

  

  
  

  .panier-icon {
    padding: 4vw 0vw 0 0;
  }

  
  .button-panier {
    margin: 0%;
  }

  .card-separator {
    border-bottom: 1px solid #e2dfdf;
    margin: 0% 6%;
  }



#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}
ion-slides {
  --bullet-background: rgba(177, 177, 177, 0.61);
  --bullet-background-active: #fab324;

}

.container-out-of-stock{
  background: #eceaeac7;
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.txt-out-of-stock {
  background: #feeae7;
  position: absolute;
  height: 10vw;
  width: 100%;
  margin: 0%;
  padding: 3vw;
  right: 0;
  top: 30%;
}

.container-txt-promo{
  position: absolute;
  display: block;
  text-align: end;
  width: 100%;
  height: 100%;
}

.txt-promo {
  background: #feeae7;
    position: absolute;
    height: 10vw;
    margin: 0%;
    font-family: 'Cormorant-SemiBoldItalic';
    padding: 2vw;
    right: 0;
    top: 4%;
    font-size: 5vw;
}


.loading-container {
  width: 35% !important;
    padding: 0px !important;
}

.category-slides-img {
  width: 100%;
}

.category-container-slides {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  
  justify-content: space-between;
  padding: 2% 5%;
  }

  .category-slides-title {
    font-family: Lato, sans-serif;
    font-size: 4vw;
    color: black;
    text-transform: uppercase;
    text-align: start;
    margin: 0;
    min-inline-size: -webkit-max-content;
    min-inline-size: -moz-max-content;
    min-inline-size: max-content;
}

.category-slides-btn {
  font-family: Lato, sans-serif;
  font-size: 5vw;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
  margin: 0;
  min-inline-size: max-content;
}

.category-slides-viewAll{
  text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    color: #bf9b52;
    text-align: end;
    height: 5vw;
    padding-top: 1vw;
   
    margin: 0% 0% 0% 3%;
    width: inherit;
    border-bottom: 1px solid #9b9898;
  
}

.category-card {
  width: 100%;
  margin: 1% 0px;
  border-radius: 0;
  box-shadow: 0 0 black;
}


.icon-add-item{
  position:absolute;
  top: 30% ;
  right:0;
  }



  /****************** pub *****************************/
  .pub_double_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    ion-img {
      width: 49%;
    }
  }

  .pub_single_container {
    width: 100%;
    margin: 0;
    ion-img {
      width: 100%;
    }
  }

  .ion-button-height-home {
    height: 30%;
  }