//header
.header {
  padding: 1% 0%;}

.img-header {
  width: 28%;
  margin-left: 30%;
}
//slides
.slides .slide .slide-img{
  width: 100%;
}

.slide-col {
  padding: 0%;
  width: 100%;

}

//category

.naturelle-txt {
  font-family: TuesdayNight-Regular ;
  color: #d1d1d1;
  text-align: center;
  width: 100%;
  font-size: 8vw;
}

.category {
  font-family: Lato,sans-serif;
  text-align: center;
  width: 100%;
  font-size: 8vw;
  letter-spacing: .05em;
}
.subcategory {
  font-family: cursive;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  color: #5a5a5a;
}
//slide ctegory product

.category-container {
  background-image: url("./../../assets/images/fond.jpg");
  justify-content: center;
  height: 20%;
  display: flex;
  margin-bottom: 5%;
}

.category-container p {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  font-family: Lato,sans-serif;
}



.slide-product {
  width: 50%;
}

.product-card {
  width: 95%;
  margin: 0%;
}



.product-container {
  width: 190px;
  height: 250px;
  border: 2px solid #f8f8f8;
}

.product-image-container {
  width : 100%;
  display : flex ;
  justify-content : center;
}

.product-image-container img {
  width: 100%;
}

.product-name {
  font-family: Lato-Regular;
  font-size: 4vw;
  text-align: center;
  height: 10vw;
}

.product-category-container {
  display: flex;
  justify-content: center;
  height: 7vw;
}

.product-category {
  color: rgb(167, 167, 167);
  font-family: Cormorant-SemiBoldItalic;
  font-size: 3vw;
}

.product-price {
  font-family: Cormorant-Medium;
  font-size: 4vw;
  text-align: center;
}
