<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-title-header-center">
      <img src="../../../assets/logo/logo2.png" />
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="category-container">
    <p>Certification</p>
  </div>

  <div class="ion-padding">

   
     
        <div >Laboratoire Trésors Naturels a choisi l’excellence et est certifié actuellement ISO 22716
          (Bonnes Pratiques de Fabrication des produits cosmétiques), en effet le respect des Bonnes Pratiques de
          Fabrication (BPF) est un des piliers du règlement international sur les cosmétiques.</div>
        <p></p>
        <div >Ce règlement impose des mesures très strictes pour garantir la sécurité des produits
          cosmétiques et pour garantir la conformité du produit, notamment par la maîtrise des facteurs humains,
          techniques et administratifs. Ces lignes directrices visent en particulier le respect des critères d’hygiène
          et de sécurité du produit.<br>
        </div>
        <p></p>
        <div>Le périmètre de la norme ISO 22716 n’est pas limité aux activités de fabrication, il inclut
          les étapes de production, contrôle, stockage et transport des produits cosmétiques.</div>
        <p></p>
        <div >
          Développée sur la base d’études scientifiques et de méthodes d’évaluation du risque, la norme ISO 22716 a été
          spécifiquement développée pour l’industrie cosmétique avec de nombreux experts du secteur.</div>
      
    
  </div>

  <div class="certif-image">
    <img  src="../../../assets/images/certif-iso.jpg">
  </div>
</ion-content>