.img-header {
   width: 28%;
   margin-left: 30%;
 }

.category-container {
   background-image: url("../../../assets/images/fond.jpg");
   justify-content: center;
   height: 20%;
   display: flex;
   margin-bottom: 5%;
}


.card-container {
   display: flex;
   justify-content: center;
   width: 100%;
}

.product-card {
   width: 80%;
   margin: 2%;
}

.category-name {
   font-size: xx-large;
   width: 100%;
   text-align: center;
}


.product-container {
   width: 190px;
   height: 250px;
   border: 2px solid #f8f8f8;
}

.product-image-container {
   width : 100%;
   display : flex ;
   justify-content : center;
}

.product-image-container img {
   width: 100%;
}

.product-name {
   font-family: Lato-Regular;
   font-size: 6vw;
 //  height: 41px !important;
   text-align: center;
}

.product-category-container {
   display: flex;
   justify-content: center;
}

.product-category {
   color: rgb(167, 167, 167);
   font-family: Cormorant-SemiBoldItalic;
   font-size: 4vw;
}

.product-price {
   font-family: Cormorant-Medium;
   font-size: 6vw;
   text-align: center;
}

.icon-add-item{
   padding:5px;
   position:absolute;
   top:0;
   right:0;
   }

