<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <img class="img-header" src="../../../assets/logo/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="category-name" >naturelle</div>

  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let product1 of productswoo" class="slide" >
      <ion-col>
        <ion-img class="product-img" src="{{product1?.images[0]?.src}}">
        </ion-img>
        <div class="product-name" >{{product1?.name}}</div>
        <span  class="product-category"
          *ngFor="let category of product1.categories"> {{category?.name}},</span>
        <div class="product-price" [innerHTML]="product1?.price_html"></div>
      </ion-col>
    </ion-slide>
  </ion-slides>
</ion-content>